name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          swift-version: swift-6.2.1-release
          swift-build: 6.2.1-RELEASE

      - uses: actions/checkout@v2
      - run: swift build
